In [1]:
import pandas as pd

In [6]:
DF1 = pd.DataFrame({'CARS':['Nissan','Ford','Audi'],
                    'COLORS':['White','Blue','Red']}).set_index('CARS')

In [7]:
DF2 = pd.DataFrame({'CARS':['Nissan','Ford','Audi'],
                    'MODELS':['2018','2020','2022']}).set_index('CARS')

In [8]:
DF1

       COLORS
CARS
Nissan  White
Ford     Blue
Audi      Red

In [9]:
DF2

       MODELS
CARS
Nissan   2018
Ford     2020
Audi     2022

In [11]:
DF = pd.concat([DF1,DF2], axis=1)

In [13]:
DF

       COLORS MODELS
CARS
Nissan  White   2018
Ford     Blue   2020
Audi      Red   2022