In [1]:
import pandas as pd

In [2]:
DF1 = pd.DataFrame({'CARS':['Nissan','Ford','Audi'],
                    'COLORS':['White','Blue','Red']}).set_index('CARS')

In [3]:
DF2 = pd.DataFrame({'CARS':['Nissan','Ford','Audi'],
                    'MODELS':['2018','2020','2022']}).set_index('CARS')

In [4]:
DF = pd.merge(DF1,DF2, on='CARS')

In [5]:
DF

       COLORS MODELS
CARS
Nissan  White   2018
Ford     Blue   2020
Audi      Red   2022

In [12]:
DF3 = pd.DataFrame({'CARS':['Nissan','Ford','Audi'],
                    'COLORS':['White','Blue','Red']}).set_index('CARS')

In [13]:
DF4 = pd.DataFrame({'CARS':['Toyota','Ford','Audi'],
                    'MODELS':['2018','2020','2022']}).set_index('CARS')

In [14]:
DFX = pd.merge(DF3,DF4, on='CARS')

In [15]:
DFX

     COLORS MODELS
CARS
Ford   Blue   2020
Audi    Red   2022

In [16]:
DF5 = pd.DataFrame({'CARS':['Nissan','Ford','Audi'],
                    'COLORS':['White','Blue','Red']}).set_index('CARS')

In [17]:
DF6 = pd.DataFrame({'CARS':['Toyota','Ford','Audi'],
                    'MODELS':['2018','2020','2022']}).set_index('CARS')

In [ ]:
DFXN = pd.merge(DF5,DF6, on='CARS', how='outer') #TAMBIEN SE PUEDE UTILIZAR EN how='left' or 'right'

In [20]:
DFXN

       COLORS MODELS
CARS
Audi      Red   2022
Ford     Blue   2020
Nissan  White    NaN
Toyota    NaN   2018